SYMFONY__ENV__DATABASE_USER=username
SYMFONY__ENV__DATABASE_PASSWORD=password
POSTGRES_USER=username
POSTGRES_PASSWORD=password
VIRTUAL_HOST=host.com
VIRTUAL_PORT=80
LETSENCRYPT_HOST=host.com
LETSENCRYPT_EMAIL=email-address
SYMFONY__ENV__DOMAIN_NAME="https://host.com"
SYMFONY__ENV__MAILER_HOST="smtp.server.com"
SYMFONY__ENV__MAILER_USER="user@server.com"
SYMFONY__ENV__MAILER_PASSWORD="smtp_pass"
SYMFONY__ENV__FROM_EMAIL="user@server.com"
